<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3>SIGN IN</h3>
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" placeholder="Userame" class="form-control" name="username">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Name" class="form-label">Password</label>
                    <input type="password" placeholder="Password" class="form-control" name="password">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/dashboard"><button class="btn btn-success">LOGIN</button></a>
                </div>
                <a routerLink="/signup">new user click here...</a>